/*
 |------------------------------------------------------------------------------
 | Main menu
 |------------------------------------------------------------------------------
 */
.menu .navbar-nav {
    margin-left: -40px;
}

.menu .login {
    float: right;
    margin-right: 15px;
}

/*
 |------------------------------------------------------------------------------
 | Questions list
 |------------------------------------------------------------------------------
 */

.questions_list {
    margin-top: 10px;
}

.question-row {
    margin: 10px 0;
}

.questions_list .votes {
    margin-top: 10px;
}

.questions_list .question-info {
    color: dimgray;
    font-size: 0.9em;
    margin-top: 5px
}

.questions_list .col-md-10 div {
    margin-top: 5px;
}

.questions_list .col-md-10 .asked_time,
.questions_list .col-md-10 .folder {
    color: dimgray;
    font-size: 0.9em;
}

.questions_list .col-md-10 .question {
    color: black;
    font-size: 16px;
}

/*
 |------------------------------------------------------------------------------
 | Votes block
 |------------------------------------------------------------------------------
 */
.vote {
    color: dimgray;
}

.question_view .vote {
    font-size: 25px;
    padding-top: 20px;
}

.single-answer .vote {
    float: right;
    margin: 5px 0 0 10px;
    font-size: 20px;
}

.vote span {
    margin-right: 10px;
}

/*
 |------------------------------------------------------------------------------
 | Single question header
 |------------------------------------------------------------------------------
 */
time {
    display: block;
    margin-bottom: 5px;
}

.question_view h2 {
    font-size: 1.8em;
    margin: 5px 0;
}

time,
.question_view .folder,
.user-info h5 {
    color: dimgray;
    font-size: 0.9em;
    margin-bottom: 5px
}

.folder,
.user-info h5 {
    font-weight: bold;
}

.icon {
    margin-right: 5px;
}

.section-header {
    font-size: 1.2em;
    font-weight: bold;
    color: #aaa;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    margin-bottom: 15px;
}

.section-header button {
    margin-bottom: 5px;
}

.single-answer {
    margin: 10px 0;
}

.list-group-item .limited {
/*    white-space: nowrap;
    word-wrap: break-word;*/
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.list-group-item .limited::after {
    color: #fff;
    content: ".";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15em;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+74,ffffff+74,ffffff+93&amp;0+0,1+74 */
    background: -moz-linear-gradient(left,  hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,1) 74%, hsla(0,0%,100%,1) 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,100%,0)), color-stop(74%,hsla(0,0%,100%,1)), color-stop(93%,hsla(0,0%,100%,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,1) 74%,hsla(0,0%,100%,1) 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,1) 74%,hsla(0,0%,100%,1) 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,1) 74%,hsla(0,0%,100%,1) 93%); /* IE10+ */
    background: linear-gradient(to right,  hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,1) 74%,hsla(0,0%,100%,1) 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}



.modal-header h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#popup-layout-view.question-add {
    width: 600px;
    height: 355px;
    left: 30%;
    background-color: #ffffff;
    top: 20%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#popup-layout-view.question-add .control-group.title,
#popup-layout-view.question-add .control-group.folder {
    min-height: 45px;
    float: left;
    width: 100%;
}

#popup-layout-view.question-add .control-group.description {
    height: 100px;
    margin-bottom: 20px;
}

#popup-layout-view.question-add .control-group.description textarea {
    height: 100px;
    resize: none;
}

.modal-backdrop.in {
    width: 100%;
    height: 100%;
    z-index: 3;
}

#popup-layout-view.question-add .select2-container {
    width: 100% !important;
}

.error {
    color: red;
}

.error.all {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 5px;
}

.question-add .form-horizontal {
    height: 230px;
}

#question-add-layout .controls {
    width: 60px;
    margin-right: auto;
    margin-left: auto;
}

#popup-layout-view.login {
    width: 350px;
    height: 270px;
    left: 40%;
    background-color: #ffffff;
    top: 20%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#popup-layout-view.login .control-group {
    min-height: 45px;
    float: left;
    width: 100%;
}

#popup-layout-view.login .control-group.buttons {
    position: absolute;
    top: 160px;
    left: 0;
}

.login-form .form-horizontal {
    width: 100%;
    float: left;
}

.login-form .controls {
    width: 60px;
    margin-right: auto;
    margin-left: auto;
}

#question-list .tags {
    margin-right: 85px;
}

#question-list .tags li {
    float: left;
}

#question-view .tags li {
    float: left;
}

#question-view .tags  {
    float: left;
    margin: 20px 0 30px 0;
}

.tags ul {
    margin: 0;
    padding: 0;
}

.tags li {
    list-style: none;
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.tags li a {
    display: block;
    width: 100%;
    padding: 0 5px;
    text-decoration: none;
    color: #000000;
}

.pull-right {
    position: absolute;
    bottom: 0;
    right: 15px;
}
